:root {
    --bg-primary-color: #fff;
    --bg-secondary-color: #95d3ff;
    --bg-tertiary-color: #ffe600;
    --text-primary-color: #333;
}

html[data-theme='dark'] {
    --bg-primary-color: #1a1919;
    --bg-secondary-color: #1b2938;
    --bg-tertiary-color: #ffe600;
    --text-primary-color: #999;
}
