@font-face {
    font-family: Gayathri-thin;
    font-weight: 400;
    font-style: normal;
    src: url('Gayathri-Thin.ttf') format('ttf'),
        url('Gayathri-Thin.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family: Gayathri-regular;
    font-weight: 500;
    font-style: normal;
    src: url('Gayathri-Regular.ttf') format('ttf'),
        url('Gayathri-Regular.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family: Gayathri-bold;
    font-weight: 700;
    font-style: normal;
    src: url('Gayathri-Bold.ttf') format('ttf'),
        url('Gayathri-Bold.ttf') format('ttf');
    font-display: swap;
}
